* {
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    background-color: rgb(249, 246, 235);
}

img {
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Rubik Moonrocks', cursive;
}

a, p {
font-family: 'Raleway', sans-serif;
}